:root {
    --primary-color: #E0DFDD;
    --primary-font: #353024;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--primary-color);
}