.topNav__container a {
    color: var(--primary-font);
}

.topNav__btn {
    position: fixed;
    z-index: 10;
    width: 50px;
    height: 50px;
    background: none;
    border: none;
    cursor: pointer;
}

.topNav__btn img {
    width: 35px;
    height:35px;
}

.topNav__container {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 200vh;
    padding-top: 3rem;
    font-size: 1.5rem;
    background-color: #DBD4C9;
    animation: .5s 1 normal openMenu;
    color: var(--primary-font);
}


.topNav__container ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5rem;
}

.topNav__container ul li {
    margin-bottom: .5rem;
    letter-spacing: -2px;
    list-style-type: none;
}

/* animations */

@keyframes openMenu {
    from {
        margin-left: -100%;
        width: 100%;
    }

    to {
        margin-left: 0;
        width: 100%;
    }
}
